:root {
  --text: #cfcfcf;
  --text-muted: #979797;
  --text-h: #08060d;
  --text-bright: #7ec1ff;
  --bg: #091833;
  --bg-lighter: #090f1d;
  --border: #e5e4e7;
  --project-bg: #252525;
  --project-bg-lighter: #444444;
  --accent-bright: rgb(80, 123, 255);
  --accent: rgb(50, 85, 190);
  --accent-muted: rgba(54, 71, 124, 0.6);
  --accent-dark: rgba(23, 40, 90, 0.5);
  --accent-bg: rgb(20, 27, 51);
  --accent-border: rgba(119, 166, 255, 0.5);
  --social-bg: rgba(143, 143, 143, 0.2);
  --social-bg-lighter: rgba(151, 151, 151, 0.3);
  --nav-bg: rgba(41, 40, 40, 0.8);
  --shadow:
    rgba(0, 0, 0, 0.8) 0 25px 25px -5px, rgba(0, 0, 0, 0.6) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  background: linear-gradient(0deg, var(--bg-lighter) 0%, var(--bg) 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }

  margin: 0;
}
button{
  font-family: var(--sans);
  font-size: 0.9rem;
}
button:active{
  transition: scale 0.1s ease-in-out;
  scale: 0.9;
}
.btn-accent{
  background-color: var(--accent);
  color: var(--text);
  border: 2px groove var(--accent-border);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;

  display: flex;
  gap: 0.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.btn-accent:hover{
  background-color: var(--accent-bright);
  color: var(--text-h);
  border-color: var(--accent-bright);
}

.btn-accent:active{
  transform: translateY(2px);
  
}

.btn-social{
  background-color: var(--social-bg);
  color: var(--text);
  border: 2px solid var(--accent-border);
  padding: 0.4rem 0.5rem;
  border-radius: 1rem;

  transition: all 0.2s ease;
}

.btn-social:hover{
  color: var(--accent-bright);
  background-color: var(--social-bg-lighter);
  filter: brightness(1.2);
  transform: translateY(-2px);
}